# API key file
geni_api.key

# Cache / aux temporary files
geni_token.tmp
profiles.json
processed_profiles.json

# Byte-compiled Python files
*.pyc
*.pyo
*.pyd

# Packaging
dist/
*.egg-info

# Cache files
.pytest_cache
__pycache__/

# Virtual environment
my_env/

# IDE and Editor Files
.vscode/
*.idea/
*.DS_Store
